body{
    background-color: #D2243F;
    overflow-x: hidden;
    overflow-y: hidden;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red-curve-wrap-1 {
    position: static;
    /* z-index: 15; */
    background-color: transparent;
    height: auto;
}

.bulat-11 {
    position: absolute;
    top: -190%;
    left: -40%;
    /* width: 1903px; */
    width: 150%;
    aspect-ratio: 1 / 1;
    background-color: #D2243F;
    border-radius: 100%;
    z-index: -1;
}

.bulat-22 {
    position: absolute;
    top: -210%;
    left: -60%;
    /* width: 2537px; */
    width: 200%;
    aspect-ratio: 1 / 1;
    background-color: #DD304B;
    border-radius: 100%;
    z-index: -2;
}

.hero{
    margin-top: 0;
    height: 53.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.row-edit{
    margin: 0;
    padding:0;
    position: relative;
    display: block;
}
.title-nl{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    position: relative;
    display: block;
}

.title-nl .welcome-title::after{
    content: '';
    background-image: url("../images/vektor.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 100%;
    position: absolute;
    top: -50px;

}



.welcome-title{
    font-size: 96px;
}

.row-edit-2{
    margin:0;
    padding: 0;
    height: auto;
}

.dropdown{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.dropdown .btn{
    color: #2A3230;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Poppins';
    border-radius: 10px;
}

.dropdown-menu{
    width: 100%;
    border: none;
    border-radius: 10px;
    
}

.dropdown-item{
    font-family: 'Poppins';
    padding: 10px;
    color: #2A3230;
    border: none;
}

.proj{
    margin-bottom: 100px;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 20px;
    height: auto;
}

.card{
    width: 450px;
    height: 400px;
    padding: 20px;

    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;

    font-family: "Poppins";

}

.head-card{
    display: flex;
    padding: 10px;
}

.title-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-card h3{
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: #DD304B;
    margin-bottom: 10px;
}

.cont-card{
    height: 30%;
}

.desc-card p{
    height: 40%;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1E1E1E;
    text-align: justify;

}


.footer{
    position: relative;
    width: 100%;
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    
}

.pattern-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pattern-footer .left{
    width: 50%;
}

.pattern-footer .right{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.text-footer{
    width: 100%;
    height: 80px;
    background-color: #2F2F2F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.text-footer .title-ft{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;

}

.text-footer .title-ft p{
    color: white;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    margin-top: 15px;
}

.text-footer .title-ft img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.socmed-ft{
    display: flex;
    margin-right: 100px;
}

.socmed-ft .link-socmed-ft:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.socmed-ft .link-socmed-ft{
    width: 40px;
    height: 40px;
    background-color: #FFF9F8;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.socmed-ft .link-socmed-ft img {
    width: 50%;
    height: 50%;
}

.sudut{
    width: 300px;
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: -1;
}

.sudut img{
    width: 100%;
}


@media only screen and (max-width: 700px){
    
    .navbar-brand{
        width: 60%;
        margin-left: 0;
        font-size: 24px;
        margin-left: 10px;
    }
    .navbar-brand img{
        width: 15%;
    }
    .row-edit{
        display: flex;
        flex-direction: column-reverse;
    }

    #title h1{
        font-size: 2.5em;
    }

    .half {
        margin: auto;
        width: 90%;
    
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
    
    }

    .hero{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .title-nl h1::after{
        width: 100%;
        height: 100%;
        position: absolute;
        top: -0px;
        left: 280px;
        background-size: contain;
    
    }
    
    .dropdown{
        width: 90%;
    }

    .dropdown .btn{
        font-size: 0.8em;

    }

    .dropdown-item{
        font-size: 0.8em;
    }


    .proj{
        grid-template-columns: auto;
    }


    .pattern-footer div{
        width: 50%;
    }

    .card {
        width: 80vw;
        height: auto;
    }

    .head-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .title-card{
        flex-direction: column;
        align-items: center;
    }

    .title-card .img-card{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    
    .title-card h3{
        padding-top: 10px;
        font-size: 1.2em;

        text-align: center;
    }
    
    .cont-card{
        height: 35%;

    }
    
    .desc-card p{
        font-size: 0.8em;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .card .read-card{
        text-align: center;
    }

    .img-pattern{
        width: 100%;
    }

    .pattern-footer .right{
        display: flex;
        justify-content: flex-end;
    }

    
    .text-footer .title-ft{
        margin-left: 10px;
    
    }
    
    .text-footer .title-ft p{
        font-size: 1em;
    }
    
    .text-footer .title-ft img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    
    .socmed-ft{
        margin-right: 10px;
    }
    
    .socmed-ft .link-socmed-ft{
        width: 30px;
        height: 30px;
        background-color: #FFF9F8;
        margin-right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}